* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar-track {
    --at-apply: bg-slate-200;
}

::-webkit-scrollbar-thumb {
    --at-apply: bg-emerald-500 rounded-full;
}

body {
    font-family: "Albert Sans";
}

button:focus, button:hover {
    --at-apply: outline-none;
}

input {
    --at-apply: outline-none bg-transparent;
}

.input-group input, .input {
    --at-apply: p-2 border rounded-lg hover:;
}

.input-group input:focus, .input:focus-within {
    --at-apply: border-emerald ring-2 ring-offset-0.5 ring-emerald-300;
}

.search:focus-within {
    --at-apply: ring-1.5 ring-emerald-500;
}

.search:focus-within span {
    --at-apply: text-emerald-500;
}

div[contenteditable="true"]::-webkit-scrollbar {
    display: none;
}

div[contenteditable="true"] {
    outline: none;
    scrollbar-width: 0;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    --at-apply: text-stone-500;
}

.bg-gradient {
    --at-apply: bg-gradient-to-r from-teal-500 to-emerald-500;
}

.bg-overlay {
    --at-apply: bg-[rgba(0,0,0,0.4)];
}